@keyframes rotation
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(-360deg)

.container__team-page
  .content
    padding: 0
    max-width: 1200px
    &_header
      text-align: center
      margin-bottom: 50px
      padding: 20px
      margin: 0 0 50px
    .members
      width: 100%
      &_top-panel
        margin: 0 0 30px
        padding: 0 20px
        justify-content: space-between
        align-items: center
        display: flex
        flex-direction: row
        flex-wrap: wrap
        gap: 20px


        .dropdown.dropdown-sorting
          max-width: 343px
          position: relative

        .dropdown__input_hidden
          display: none

        .dropdown__button
          position: relative
          display: flex
          align-items: center
          text-align: left
          background: $white
          border: none
          cursor: pointer
          color: $black-70
          @include font(12px, 16px)
          white-space: nowrap
          padding-right: 15px
          font-family: "PT Root UI", "Arial", sans-serif
          &::after
            content: ""
            position: absolute
            pointer-events: none
            transition: 200ms ease
            border-top: 2px solid $black-70
            border-right: 2px solid $black-70
            width: 8px
            height: 7px
            right: 0
            top: 1px
            transform: rotate(135deg)
          &_active::after
            transform: rotate(135deg) scale(-1,-1)
            top: 6px
            transition: 200ms ease

        .dropdown__list
          margin: 0
          padding: 0
          list-style-type: none
          position: absolute
          left: 0
          top: 25px
          z-index: 1
          opacity: 0
          visibility: hidden
          transition: 200ms ease

          background-color: $white
          color: $black-100
          overflow: auto
          max-height: 150px
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)

        .dropdown__list_visible
          opacity: 1
          visibility: visible

        .dropdown__list-item
          margin: 0
          cursor: pointer
          transition: 200ms ease
          color: $black-100
          padding: 10px
          display: block
          @include font(12px, 16px)
          white-space: nowrap
          &:hover
            background-color: $grey-20


        .dropdown__list-item_active
          background: $grey-20

              
        &__btns
          display: flex
          flex-direction: row
          gap: 20px
          align-items: baseline
          .btn_add-members
            padding: 8px 16px
            font-size: 25px
            line-height: 33px
            .btn-label
              display: none
              line-height: 26px
          .btn_open-menu-members
            svg
              fill: $grey-100
            &:hover
              cursor: pointer
              opacity: 0.8
        &__search
          flex-wrap: 1
          width: 100%
          .search__input
            width: 100%
      &_list
        margin-bottom: 20px
        position: relative
        .members_item
          padding: 20px
          border-top: 1px $grey-50 solid
          align-items: flex-start
          gap: 20px
          display: flex
          color: $black-50
          @include font(12px, 16px)
          flex-direction: row
          flex-wrap: wrap
          justify-content: space-between
          &_btn-check
            display: none
          &:last-child
            border-bottom: 1px $grey-50 solid
          &_name
            flex-direction: column
            justify-content: flex-start
            align-items: flex-start
            display: flex
            &:hover
              .members_item_name-fio
                color: $accent-secondary
            &-fio
              color:$black-70
              @include font(16px, 19px)
              font-weight: 600
          &_btn-menu
            svg
              height: 24px
              width: 24px
              fill: $grey-100
            &:hover
              svg
                cursor: pointer
                fill: $black-100
          &_progress
            width: 100%
            &-header
              display: flex
              flex-direction: row
              margin-bottom: 5px
            &-title
              flex-grow: 1
            &-value
              color: $black-100
              font-weight: 600
            &-bar
              width: auto
              height: 6px
              background: $grey-20
              border-radius: 3px
              position: relative
              &_inner
                position: absolute
                width: 0
                height: 6px
                left: 0
                top: 0
                background-color: $black-100
                border-radius: 3px
                -webkit-transition: width 2s
                transition: width 2s
          &_resolved-task
            &-value
              margin-top: 5px
              color: $black-100
              font-weight: 600
              .task-percent 
                display: none
          &_exercise
            &-value
              margin-top: 5px
              color: $black-100
              font-weight: 600
              .task-percent 
                display: none
          &_activity
            &-value
              margin-top: 5px
              color: $black-100
              font-weight: 600
          &-header
            display: none
        .members-not-registred
          .members_item_progress-value,
          .members_item_resolved-task-value,
          .members_item_exercise-value
            color: $grey-100
            @include font(15px, 26px)
            font-weight: 400
        .members_list-panel
          padding: 10px
          position: absolute
          width: 100%
          bottom: -45px
          box-sizing: border-box
          .members_list-panel_inner
            padding: 10px 15px
            background: rgba(22.95, 22.95, 28.05, 0.90)
            color: $white
            border-radius: 10px
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            gap: 20px
            margin: 0 auto
            width: fit-content
            @include font(14px, 19px)
            .members_list-panel_item
              font-weight: 500
              &:hover
                cursor: pointer
                opacity: 0.8
              &.members_list-panel_item-remove
                color: #FF8680
              &.btn-close-panel
                svg
                  vertical-align: sub
                  fill: $grey-100

      &_pages 
        display: flex
        flex-direction: row
        margin: 0 auto 5px
        justify-content: center
        gap: 5px
        
        .members_page.btn-white
          border-color: transparent
          padding: 10px
          min-width: 35px
          &.active
            border-color: $grey-50
            &:hover
              border-color: $grey-50
              cursor: pointer

.content_table
  width: 100%
  height: 260px
  margin-bottom: 25px
  // svg
  //   width: 100% !important

.popup_team-full
  position: fixed
  z-index: 500
  background: rgba(248.88, 248.88, 250.92, 0.85)
  backdrop-filter: blur(20px)
  display: block
  top:0
  left:0
  width: 100vw
  height: 100%
  .btn-close-top
    position: absolute
    top: 20px
    right: 20px
    order: 1
    &:hover
      cursor: pointer
  &__inner
    max-width: 600px
    padding: 30px
    background: $white
    border-radius: 4px
    border: 1px $grey-20 solid
    color: $black-100
    box-sizing: border-box
    margin: 80px auto 10px
    display: flex
    flex-direction: column
    hr
      margin-bottom: 25px
      height: 1px
      background-color: $grey-20
      border: none
      width: 100%

  &__title
    color: #17171C
    @include font(27px, 33px)
    font-weight: 700
    margin-bottom: 40px


.popup_change-tasks
  .popup_team-full__inner
    .popup_team-full__title
      margin-bottom: 10px
    .popup_change-tasks_members
      margin-bottom: 30px
      .popup_change-tasks_members_count
        margin-bottom: 10px
        color: $black-50
        @include font(14px, 19px)
      .popup_change-tasks_members_list
        gap: 5px
        display: flex
        flex-wrap: wrap
        flex-direction: row
        .popup_change-tasks_members_item
          border-radius: 5px
          border: 1px solid $grey-50
          padding: 3px 4px
          color: $black-70
          @include font(12px, 13px)
    .popup_change-tasks_list-wrapper
      .popup_change-tasks_list_search
        margin-bottom: 20px
        .search__input
          width: 100%
          height: 42px
      .popup_change-tasks_list
        .popup_change-tasks_item
          display: flex
          margin-bottom: 20px
          align-items: center
          .btn-open_link
            opacity: 0
            padding: 5px 10px
            svg
              vertical-align: sub
              fill: $accent
            &:hover
              cursor: pointer
              svg
                opacity: 0.8
          &:hover 
            .btn-open_link
              opacity: 1
          .popup_change-tasks_item_check
            width: 100%
            display: flex
            align-items: center
            position: relative
            &:hover
              cursor: pointer
            &::before
              content: ""
              display: inline-block
              width: 30px
              height: 30px
              border: 1px solid $black-50
              box-sizing: border-box
              border-radius: 4px
              margin: 0
              margin-right: 10px
              min-width: 30px
            &:hover::before
              background-color: #F9F9FB
          .popup_change-tasks_item_check input[type=checkbox]
            position: absolute
            z-index: -1
            opacity: 0
            width: 0
            height: 0
            display: block
          .popup_change-tasks_item_check input[type=checkbox]:checked + span::before
            content: ""
            position: absolute
            display: inline-block
            width: 2px
            height: 17px
            background-color: #007AFF
            left: 17px
            bottom: 27%
            transform: rotate(45deg)
          .popup_change-tasks_item_check input[type=checkbox]:checked + span::after
            content: ""
            position: absolute
            display: inline-block
            width: 2px
            height: 9px
            background-color: #007AFF
            left: 8px
            bottom: 28%
            transform: rotate(-45deg)

    .popup_change-tasks_footer
      display: flex
      width: 100%
      justify-content: space-between
      align-items: center
      .btn_save-team-tasks
        width: fit-content
      .popup_change-tasks_count
        color: $grey-100
        @include font(16px, 22px)


.popup_change-tasks
  .btn-close-top
    z-index: 1
    top: 10px
  .popup_team-full__inner
    overflow-x: hidden
    margin: 0 auto
    position: relative
    display: flex
    flex-direction: column
    height: 100vh
    padding: 0
    .popup_change-tasks__block-scroll
      flex-grow: 1
      overflow-y: auto
      padding: 0 30px
    .popup_team-full__title
      @include font(27px, 33px)
      padding-top: 70px
    .popup_change-tasks_list-wrapper
      .popup_change-tasks_list_search
        position: sticky
        padding: 10px 0
        top: 0
        background-color: $white
        z-index: 1
      .popup_change-tasks_list
        .popup_change-tasks_item          
          .popup_change-tasks_item_check
            span
              font-weight: 500
    .popup_change-tasks_footer
      border-top: 1px solid $grey-50
      padding: 10px 20px
      background: $white
      box-sizing: border-box
      display: flex
      justify-content: space-between
      align-items: center




@media (min-width: 640px) 
  .popup_change-tasks
    .btn-close-top
      top: 20px
    .popup_team-full__inner
      max-height: 80vh
      overflow: hidden
      height: 100%
      margin: 80px auto 10px
      padding: 30px
      .popup_change-tasks__block-scroll
        padding: 0
        overflow: hidden
        display: flex
        flex-direction: column
      .popup_change-tasks_footer
        position: relative
        padding: 40px 0 0
      .popup_team-full__title
        padding-top: 0
      .popup_change-tasks_list-wrapper
        flex-grow: 1
        display: flex
        flex-direction: column
        height: inherit
        overflow: hidden
        .popup_change-tasks_list
          overflow: auto
          flex-grow: 1


.popup_rename-team
  .btn_save-rename-team
    width: fit-content
  &_name
    margin-bottom: 40px
    .team_name__label
      position: relative
      .icons--update
        width: 24px
        height: 24px
        position: absolute
        top: 27px
        right: 10px
        cursor: pointer
    label
      @include font(11px, 13px)
      margin-bottom: 5px
      width: 100%
      display: inline-block
    input
      height: 42px
      @include font(12px, 22px)
      width: 100%
      &.team_name__input
        padding-right: 40px


@media (min-width: 640px)
  .popup_team-full,
  .popup_member_info
    ::-webkit-scrollbar 
      width: 3px
      background-color: $color-bg-block
    ::-webkit-scrollbar-thumb 
      background-color: $gray-80
    .popup_team-full__title
      @include font(32px, 36px)
  .popup_rename-team
    .popup_team-full__inner
      transform: translateY(50%)
    &_name
      label
        @include font(14px, 13px)
      input
        @include font(16px, 22px)

.popup_invite-member
  .btn_send-invite-members
    width: fit-content
  .invite__toggle
    cursor: pointer
    display: flex
    width: 100%
    &-switch
      display: inline-block
      background: $grey-20
      border-radius: 20px
      width: 30px
      height: 18px
      position: relative
      padding: 2px
      transition: background 0.25s    
      border: 1px $grey-60 solid
      &:before, &:after
        content: ""
      &:before
        display: block
        border-radius: 50%
        position: absolute
        top: 3px
        transition: left 0.25s

        width: 14px
        height: 14px
        border-radius: 50%
        border: 1px $black-100 solid
    &-checkbox
      &:checked + .invite__toggle-switch
        &:before
          background: $black-100
          right: 2px
      position: absolute
      visibility: hidden

  .invite_link
    margin-bottom: 25px
  .invite_email
    margin-bottom: 20px
    &__input
      width: 100%
      margin-top: 20px
  .share_link
    color: $accent
    display: flex
    align-items: center
    width: 100%
    gap: 10px 
    margin-bottom: 25px
    .btn_set-new-link
      &:hover
       cursor: pointer
       opacity: 0.8
      &.click
        animation: rotation 0.6s ease-out forwards
        display: block

    svg
      fill: $accent
    &__copy
      flex-grow: 1
      display: flex
      align-items: center
      width: 100%
      gap: 10px 
      cursor: pointer
  .invited_emails
    margin-top: 25px
    min-height: 280px
    overflow: hidden
    hr
      margin-bottom: 40px
    &__list
      border-radius: 10px
      background: $color-bg-block
      padding-left: 10px
      color: $black-100
      display: flex
      flex-direction: column
      max-height: 240px
      overflow: hidden
      &-scroll
        overflow-y: auto
      &-item
        display: grid
        grid-template-columns: 15px 3fr 2fr 1fr 20px
        border-bottom: 1px solid $grey-20
        gap: 10px
        @include font(12px, 14px)
        padding: 10px 0
        padding-right: 8px
        align-items: center
        &:last-child
          border: none
        .invited_emails__list_number
          color: $gray-80
          @include font(11px, 13px)
        .invited_emails__list_email
          word-break: break-all
        .invited_emails__list_btn-menu
          svg
            vertical-align: middle
            fill: $gray-80
          &:hover
            cursor: pointer
        &.item-header
          font-size: 11px
          line-height: 13px
  .input_invite-label
    color: $black-100
    @include font(20px, 25px)   
    font-weight: 700
    margin-right: auto



  
@media (min-width: 640px) 
  .popup_invite-member
    .share_link
      font-size: 18px
      line-height: 24px
    .invited_emails
      &__list
        &-item
          @include font(14px, 19px)

        
@media (min-width: 640px)
  .content_table
    margin: 0 20px 30px
    width: auto
  .container__team-page
    .content
      &_header
        margin-bottom: 60px
        div
          @include font(18px, 24px)
      .members
        &_top-panel
          flex-wrap: no-wrap
          .dropdown-sorting
            display: none
          &__search
            order: 1
            max-width: 300px
          &__btns
            order: 2

@media (min-width: 768px)
  .container__team-page
    .content
      .members
        &_top-panel
          &__search
            max-width: 330px
            .search__input
              height: 36px
              font-size: 16px
          &__btns
            .btn_add-members
              padding: 2px 16px
              height: 32px
              .btn-label
                display: inline-block
                padding-left: 10px
                color: $white
                @include font(12px, 29px)
                font-weight: 400
                height: 100%
                vertical-align: middle
        &_list
          max-width: 1200px
          padding: 0 20px
          .members_item
            padding: 15px 5px 
            flex-wrap: nowrap
            display: grid
            grid-template-columns: 30px 2fr 1fr 1fr 1fr 1fr 30px
            &_btn-check
              display: block
              .member_check
                display: none
                position: relative
                &:hover
                  cursor: pointer
                &::before
                  content: ""
                  display: inline-block
                  width: 30px
                  height: 30px
                  border: 1px solid $black-50
                  box-sizing: border-box
                  border-radius: 4px
                  margin: 0
                  margin-right: 10px
                  min-width: 30px
                &:hover::before
                  background-color: #F9F9FB
              .member_check input[type=checkbox]
                  position: absolute
                  z-index: -1
                  opacity: 0
                  width: 0
                  height: 0
                  display: block
              .member_check input[type=checkbox]:checked + span
                position: absolute
                top: 65%
              .member_check input[type=checkbox]:checked + span::before
                  content: ""
                  position: absolute
                  display: inline-block
                  width: 2px
                  height: 17px
                  background-color: #007AFF
                  left: 17px
                  bottom: 27%
                  transform: rotate(45deg)
              .member_check input[type=checkbox]:checked + span::after
                  content: ""
                  position: absolute
                  display: inline-block
                  width: 2px
                  height: 9px
                  background-color: #007AFF
                  left: 8px
                  bottom: 28%
                  transform: rotate(-45deg)
            &:not(.members_item-header):hover
              cursor: pointer
              background-color: $color-bg-block
              .members_item_btn-check
                .member_check
                  display: block
              &_btn-check
                display: block
            .task-done
              font-size: 21px
              color: $black-70
            .task-all
              font-size: 15px
            .task-percent
              display: block
              font-size: 12px
              margin-left: auto
            &_progress
              margin-left: 35px 
            &-header
              display: grid
              border: none
              div
                text-align: right
                &.members_item_activity
                  text-align: left
                &:hover
                  cursor: pointer
                  opacity: 0.8
                span
                  position: relative

                &.sorting-ascending
                  span::after
                    position: absolute
                    content: ''
                    bottom: 2px
                    right: -16px
                    border: solid $black-70
                    border-width: 0 1px 1px 0
                    display: inline-block
                    padding: 3px
                    transform: rotate(-135deg)
                    -webkit-transform: rotate(-135deg)
                &.sorting-descending
                  span::after
                    position: absolute
                    content: ''
                    top: 2px
                    right: -16px
                    border: solid $black-70
                    border-width: 0 1px 1px 0
                    display: inline-block
                    padding: 3px
                    transform: rotate(45deg)
                    -webkit-transform: rotate(45deg)
            &_name
              order: 1
              max-width: 280px
              &-fio
                line-height: 26px
              &-email
                @include font(14px, 19px)
            &_activity
              order: 2
              max-width: 208px
              &-title
                display: none
              &-value
                @include font(14px, 19px)
                font-weight: 400
            &_resolved-task
              order: 3
              max-width: 210px
              &-value
                color: $grey-100
                font-weight: 400
                text-align: right
              &-title
                display: none
            &_exercise
              order: 4
              max-width: 210px
              &-value
                color: $grey-100
                font-weight: 400
                text-align: right
              &-title
                display: none
            &_progress
              order: 5
              max-width: 92px
              width: 100%
              &-title
                display: none
              &-value
                margin-left: auto
                font-size: 21px
                color: $black-70
                font-weight: 400
            &_btn-menu
              order: 6
              min-width: 30px
            &.selected-member
              background-color: #F9F9FB
              .members_item_btn-check
                display: block
                .member_check
                  display: block
          .members-not-registred
            .members_item_progress-value,
            .members_item_resolved-task-value,
            .members_item_exercise-value
              margin-top: 0
        &_pages
          padding: 0 20px
          justify-content: flex-start

        




.popup_menu
  position: absolute
  z-index: 600
  background-color: $white
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.04), 0px 2px 6px 0px rgba(0, 0, 0, 0.04), 0px 10px 20px 0px rgba(0, 0, 0, 0.04)
  border-radius: 4px
  padding: 30px
  .popup_menu_list
    display: flex
    flex-direction: column
    @include font(16px, 22px)
    gap: 20px
    font-weight: 700
    .menu_item__warning
      color: $error
    .popup_menu__item
      &:hover
        opacity: 0.8
        cursor: pointer


.dxc-tooltip
  .teamChart_tooltip 
    .teamChart_tooltip_item
      display: flex
      flex-direction: row
      justify-content: space-between
      gap: 8px
      
    .teamChart_tooltip_title
      .tooltip_item-title
        font-weight: 700
  .tooltip_resolvedTask
    margin-bottom: 10px
  .tooltip_item-value
    font-weight: 700
  .tooltip_completedTask
    &-digital
      .tooltip_item-value
        color: #0EA767
    &-personal
      .tooltip_item-value
        color: #605DF9
    &-finance
      .tooltip_item-value
        color: #29C5F6



.content_member_info
  &__inner
    max-width: 1200px
    padding: 30px
    background: $white
    color: $black-100
    margin: 0 auto 20px
    .content_table
      margin-bottom: 60px
    .popup_member_info__block-progress
      border-radius: 4px
      border: 1px solid $color-bg-block
      background: $color-bg-block
      padding: 30px
      display: flex
      flex-direction: column
      justify-content: space-between
      margin-bottom: 20px
      
      .popup_member_info__member
        height: inherit
        display: flex
        flex-direction: column
        justify-content: space-between
        .popup_member_info__progress-general
          color: $black-70
          font-size: 14px
          line-height: 19px
          display: flex
          flex-direction: column
          .progress_line
            width: 100%
            height: 6px
            background: $grey-20
            border-radius: 3px
            position: relative
            .progress_line-inner
              position: absolute
              width: 0
              height: 6px
              left: 0
              top: 0
              background-color: $correct
              border-radius: 3px
              -webkit-transition: width 2s
              transition: width 2s

        .member-fio
          color: $black-100
          font-size: 32px
          font-weight: 700
          line-height: 36px
          display: flex
          flex-direction: row
          gap: 20px
          .member_item_btn-menu
            svg
              height: 24px
              width: 24px
              fill: $grey-100
            &:hover
              svg
                cursor: pointer
                fill: $black-100
        .member-email
          margin-bottom: 10px
          color:$grey-100
          font-size: 16px
          font-weight: 400
          line-height: 22px

      .popup_member_info__progress
        margin-top: 40px
        .progress 
          border: none
          padding: 0
          margin: 0
          .progress_skills
            width: auto
          .skill_wrapper:hover
            cursor: auto
            .skill
              div
                opacity: 1

    .popup_member_info__content
      .popup_member_info__content-header
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-bottom: 50px
        .btn_add-exercise
          font-size: 25px
          min-width: 44px
          position: relative
          &::after
            content: '+'
            position: absolute
            top: 25%
            left: 36%

          .btn-label
            display: none


        .header__type-section
          padding: 13px 25px
          background: $color-bg-block
          border-radius: 20px
          flex-direction: column
          justify-content: flex-start
          align-items: flex-start
          gap: 20px
          display: flex
          width: fit-content
          &__item
            color: $black-50
            font-size: 18px
            line-height: 24px
            border-bottom: 1px transparent solid
            &.active,
            &:hover
              color: $black-100
              font-weight: 500
              border-color: $black-100
              -webkit-transition: 0.3s ease-out
              transition: 0.3s ease-out
            &:hover
              cursor: pointer
      .popup_member_info_block
        margin-bottom: 70px
        .popup_member_info_descr
          font-size: 18px
          line-height: 24px
          color: $black-50
          margin-bottom: 30px

        .border
          height: 2px
          width: 100%
          background: $black-70
          margin-bottom: 35px
        .popup_member_info__list
          display: grid
          grid-template-columns: repeat(auto-fit, minmax(300px, 500px))
          justify-content: space-between
          gap: 10px
          .popup_member_info__item
            display: flex
            flex-direction: row
            gap: 10px
            width: 100%
            .popup_member_info__item-title
              flex-grow: 1
              &:hover
                color: $accent
                cursor: pointer
            .popup_member_info__item-done
              min-width: 24px 
            .popup_member_info__item-menu
              width: 30px
              height: 30px
              display: flex
              svg
                margin: auto
                fill: $gray-80
              &:hover
                border-radius: 4px
                background: $grey-20
                cursor: pointer
                svg
                  cursor: pointer
                  fill: $black-100
      .popup_member_info__todo-list
        .popup_member_info__list
          grid-template-columns: 1fr
          .popup_member_info__item
            .popup_member_info__item-title
              &:hover
                cursor: auto
                color: $black-100

@media (min-width: 700px)
  .content_member_info
    &__inner
      .popup_member_info__block-progress
        flex-direction: row
        .popup_member_info__progress
          margin-top: 0


    .popup_member_info__content
      .popup_member_info__content-header
        .header__type-section
          flex-direction: row
        .btn_add-exercise
          &::after
            content: ''
          .btn-label
            display: block
            font-size: 18px
      .popup_member_info_block
        .popup_member_info_descr
          width: 50%



.dxc-tooltip
  z-index: 450
