.block-skill
  .block-skill-descr
    @include font(18px, 24px)
    color: $black-50
    margin-bottom: 30px
  .block-skill-number
    border-radius: 20px
    color: $white
    @include font(19px, 35px)
    margin-bottom: 15px
    margin-top: 40px
    height: 35px
    width: 27px
    text-align: center


  &.skill-digital
    .block-skill-number
      background: #13B85F
    .materials > .material > .material-list .material-el .img
      background:  linear-gradient(0deg, rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)), #E0FFF4

  &.skill-personal
    .block-skill-number
      background: #5C59EB
      width: 31px
    .materials > .material > .material-list .material-el .img
      background:  #C2C1D0


  &.skill-financial
    .block-skill-number
      background: #1B7C9C
      width: 32px
    .materials > .material > .material-list .material-el .img
      background: #95AEB6


.content-all-theory.content
  .border
    border: 2px solid $black-70
    width: 100%
    margin-top: 80px
  .block-skill
    .border
      margin-top: 0
  .img_all-theory
    margin: 80px auto

@media (min-width: 640px)
  .block-skill
    .block-skill-number
      margin-top: 30px

@media (min-width: 768px)
  .block-skill
    .block-skill-descr
      width: 50%
