.cards
  display: grid
  grid-template-columns: repeat(1, 1fr)
  grid-auto-rows: 0fr
  margin-bottom: 55px
  .card
    margin: 15px 0
    border: $border
    border-radius: 3px
    padding: 20px
    display: flex
    flex-direction: column
    position: relative
    background-color: $white

    .title
      @include title()
      @include font(21px, 26px)
      margin-bottom: 0

    .card_img
      width: 100%
      padding-top: 65%
      position: relative
      margin-bottom: 20px
      img
        border-radius: 4px
        width: 100%
        height: 100%
        display: block
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        object-fit: cover
    .card_img-icons
      img
        height: auto
        width: 50px

    .card_img-task
      background: url('../public/images/card-img_task.svg') no-repeat
      margin-top: auto
      margin-bottom: 0
    .card_img-task
      background-size: 80px 80px
      background-position: right bottom



  .card_task
    background-color: $color-bg-task

.all_cards
  @include font(19px, 24px)
  font-weight: bold
  text-align: center
  color: $font-color-gray
  margin: 0 auto 70px

@media (min-width: 768px)
  .cards
    grid-template-columns: repeat(2, 1fr)
    margin-top: 80px
    margin-bottom: 80px
    .card
      margin-left: 15px
      margin-right: 15px
      padding: 30px
      &:hover
        filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.06)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04))
      &:nth-child(odd)
        margin-left: 0
      &:nth-child(even)
        margin-right: 0


@media (min-width: 1200px)
  .cards
    grid-template-columns: repeat(3, 1fr)
    .card
      &:nth-child(even)
        margin-right: 15px
      &:nth-child(odd)
        margin-left: 15px
      &:nth-child(3n)
        margin-right: 0
      &:nth-child(3n+1)
        margin-left: 0
