.cards
  display: grid
  grid-template-columns: repeat(1, 1fr)
  grid-auto-rows: 1fr
  .card
    margin: 20px 0
    border: $border
    border-radius: 3px
    padding: 20px
    display: flex
    flex-direction: column
    position: relative
    background-color: $white
    .text-advice
      margin-bottom: auto
    .type,
    .date
      color: $font-color-nav
      @include font(11px, 13px)
    .type-threat
      color: $font-color-error
      text-align: center
    .title
      @include title()
    .title-threat
      text-align: center
    .text-threat
      text-align: center
    .add-text
      height: 80px
      background: url('../public/images/bg_cards_advice.png') no-repeat
      background-size: contain
      background-position-x: right
      display: flex
      .date
        margin-top: auto
    .card_img
      margin-bottom: 10px
      img
        width: 100%
        object-fit: contain

  .card_advice
    background-color: $color-bg-card

  .card_task
    background: url('../public/images/bg_cards_task.png') no-repeat
    background-size: 80px 80px
    background-position: right bottom
    background-color: $color-bg-task
    padding-bottom: 80px

.all_cards
  @include font(19px, 24px)
  font-weight: bold
  text-align: center
  color: $font-color-gray
  margin: 20px auto

@media (min-width: 768px)
  .cards
    // display: grid
    grid-template-columns: repeat(2, 1fr)
    .card
      &:nth-child(odd)
        margin-right: 30px
      &:hover::before
          content: ""
          position: absolute
          width: 100%
          height: 100%
          top: 0
          left: 0
          border-radius: 4px
          transform: rotate(1.63deg)
          z-index: -1
    .card_advice:hover::before
        background: $accent
    .card_situation:hover::before
        background: $alert-secondary


  .all_cards
    display: none
