.container-first_page
  background: url('../public/images/test_backround_img-1.png') no-repeat
  background-position-x: center
  .content
    display: flex
    flex-direction: column
    .block-top_first
      // background: url('../public/images/test_backround_img-1.png') no-repeat
      // background-size: contain
      // background-position-x: right
      display: flex
      flex-direction: column
    .content-descr
      color: $black-70
      margin-bottom: 42px
    .content-descr_first
      color: $black-70
      margin-bottom: 42px
      font-size: 27px
      line-height: 33px
    .btn
      padding: 10px 20px
      margin: 0 auto
    .content_inner
      margin-top: 150px
      .materials-about
        display: flex
        flex-direction: column
        .content-descr
          text-align: left
          margin: 0
          margin-top: 10px
    .block_bottom
      svg
        transform: rotate(180deg)
        margin-left: 15px
        margin-right: 0
      .block_return a
        margin-left: auto
        margin-right: auto
        align-items: center
      .img
        // width: 420px
        margin: 0 auto 35px auto
      h5
        font-size: 32px
        line-height: 36px
  .materials > .material > .material-list .material-el .time
    display: block

@media (min-width: 768px)
  .container-first_page
    background-position-y: 96px
    .content
      .block-top_first
        padding-bottom: 70px
      .block_bottom
        margin-bottom: 100px
        .img
          width: 420px
      .content_inner
        margin-top: 170px
        .materials
          margin-bottom: 200px
        .materials-about
          flex-direction: row
          .content-descr
            width: 50%
            margin: 0
            padding-top: 22px
          h2
            width: 50%
