.black-50
  color: $black-50

.black-70
  color: $black-70

.font-11
  font-size: 11px
  line-height: 13px

.ml-5
  margin-left: 5px

.mr-5
  margin-right: 5px

.ml-10
  margin-left: 10px

.mr-10
  margin-right: 10px

.mt-10
  margin-top: 10px

.mb-10
  margin-bottom: 10px

.type
  color: $black-50
  font-size: 11px
  line-height: 13px

.time
  color: $black-70
  font-size: 11px
  line-height: 13px
  margin-right: 5px
