.go_to_practice__wrapper-bg
  width: 100%
  box-sizing: border-box
  margin-top: 60px
  margin-bottom: 100px
.go_to_practice__wrapper-bg-task
  margin-top: 0
  position: relative
.go_to_practice__wrapper
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  box-sizing: border-box
  padding:  0
  .go_to_practice__img
    width: 320px
    object-fit: contain
    margin-bottom: 30px
    img
      margin-top: 0

  .go_to_practice__inner
    .go_to_practice__header
      margin: 0
      margin-bottom: 40px
      text-align: center
  .go_to_practice__list-task
    margin: 0
    padding: 0
    .go_to_practice__item-task
      margin: 0
      padding: 18px 0
      width: 100%
      list-style: none
      border-top: 1px solid $grey-50
      color: $black-70
      @include font(18px, 24px)
      display: flex
      &:last-child
        border-bottom: 1px solid $grey-50
      .new_task
        background: $correct
        border-radius: 4px
        padding: 4px
        text-transform: uppercase
        @include font(11px, 13px)
        color: $white
        margin-left: 10px
        margin-right: 10px
        height: fit-content
        height: -moz-fit-content
  .go_to_practice__list-section
    margin: 0
    padding: 0
    padding-top: 20px
    .go_to_practice__item-section
      margin: 0
      padding: 0
      margin-top: 0
      width: 100%
      list-style: none
      color: $black-50
      @include font(14px, 18px)
  .go_to_practice__item_link
    text-decoration: none
    color: $accent
    @include font(16px, 22px)
    border-bottom: none
    border-bottom: 1px solid transparent
    &:hover
      border-bottom: 1px solid rgba(0, 122, 255, 0.3)
  .btn-arrow_header
    display: block
    position: relative
    margin-left: auto
    width: 20px
    &::after
      content: ""
      position: absolute
      border-top: 2px solid $black-100
      border-right: 2px solid $black-100
      width: 12px
      height: 12px
      right: 4px
      top: 24%
      transform: rotate(45deg)

.slide__inner-go_to_practice
  margin-top: 200px
  h3
    margin-top: 80px
    margin-bottom: 20px
    text-align: center
  .exercise-instruction
    border: 1px solid $grey-20
    padding: 20px
    position: relative
    a
      border-bottom: none
      // text-decoration: none
  .go_to_practice__wrapper-bg-task
    .go_to_practice__wrapper
      border: none
      .go_to_practice__inner
        margin-right: 0
      img
        width: 202px
        margin-left: 0

.go_to_test__inner
  background-color: #F4F4FF
  border-radius: 20px
  max-width: 750px
  margin: 0 auto
  padding: 30px
  text-align: center
  margin-top: 60px
  margin-bottom: 100px
  h3
    margin-bottom: 40px
    @include font(21px, 26px)
.go_to_test__situation
  max-width: 100%

.slide__inner-go_to_practice
  padding-bottom: 120px
  box-sizing: border-box
  margin-top: 120px

@media (min-width: 768px)
  .go_to_test__inner
    padding: 40px 60px
    margin-top: 100px
    h3
      @include font(27px, 33px)

  .go_to_practice__wrapper
    .go_to_practice__img
      margin-bottom: 0
    .go_to_practice__inner
      margin-top: 50px


  .slide__inner-go_to_practice
    .exercise-instruction
      padding: 30px
    .go_to_practice__wrapper-bg-task

      .go_to_practice__wrapper
        flex-direction: row
        align-items: flex-start
        .go_to_practice__inner
          margin: 0
          margin-left: 10px

@media (min-width: 1200px)
  .go_to_test__inner
    padding: 60px 115px
  .go_to_practice__wrapper
    .go_to_practice__img
      margin-left: 30px
