body
    font-family: 'PT Root UI', 'Arial', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 22px
    color: $black-70
    overflow-x: auto
    margin: 0

    // width: 100vw
    // width: calc(100vw - 30px)

img
  width: 100%
  // height: 100%
  // object-fit: contain

.container
    margin: 0 auto
    padding: 0
    box-sizing: border-box
    min-height: calc(100vh - 140px)
.disclaimer
  @include font(14px, 20px)
  color: $black-50
a
  color: $black-70
  text-decoration: none
  &:hover
    color: $font-color-hover
    -webkit-transition: 0.1s ease-out
    transition: 0.1s ease-out

a.btn,
.btn
  @include btn()
  &:hover
    cursor: pointer
    background-color: $black-70
    color: $white
    -webkit-transition: 0.1s ease-out
    transition: 0.1s ease-out

.btn.btn-white
  background-color: $white
  color: $black-70
  border: 1px solid $grey-60
  width: fit-content
  &:hover,
  &:focus
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1)
    -webkit-transition: 0.1s ease-out
    transition: 0.1s ease-out
    background-color: $white
    color: $black-70

.link
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  &:hover
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04)
    -webkit-transition: 0.1s ease-out
    transition: 0.1s ease-out

.link_mail,
.link_txt
.article_text a
  text-decoration: underline
  &:hover
    color: $accent-secondary
    -webkit-transition: 0.1s ease-out
    transition: 0.1s ease-out
.link_txt-blue,
.article_text a
  text-decoration: none
  border-bottom: 1px solid rgba(0, 122, 255, 0.3)

.link_btn
  color: $accent
  &:hover
    color: $accent-secondary
    text-decoration: underline
    cursor: pointer
    -webkit-transition: 0.1s ease-out
    transition: 0.1s ease-out

.link_btn.btn:hover
  text-decoration: none


.el_check
  width: 30px
  height: 30px
  border: 1px solid $black-50
  box-sizing: border-box
  border-radius: 4px
  margin: 0
  margin-right: 10px
  min-width: 30px
  position: relative
.el_check:hover
  cursor: pointer
  border: 1px solid $black-100
  background-color: $color-bg-block
  -webkit-transition: 0.1s ease-out
  transition: 0.1s ease-out
  &::before
    content: ""
    position: absolute
    display: inline-block
    width: 2px
    height: 17px
    background-color: #007AFF
    left: 17px
    top: 6px
    transform: rotate(45deg)
  &::after
    content: ""
    position: absolute
    display: inline-block
    width: 2px
    height: 9px
    background-color: #007AFF
    left: 8px
    top: 12px
    transform: rotate(-45deg)

.el_check.el_checked
  &::before
    content: ""
    position: absolute
    display: inline-block
    width: 2px
    height: 17px
    background-color: #007AFF
    left: 17px
    top: 6px
    transform: rotate(45deg)
  &::after
    content: ""
    position: absolute
    display: inline-block
    width: 2px
    height: 9px
    background-color: #007AFF
    left: 8px
    top: 12px
    transform: rotate(-45deg)

.container
  display: flex
  flex-direction: column

.content
  margin: 0
  padding: 20px

.icons
    @include icons()
    padding: 0
    margin: 0
.hide
  display: none !important
h1
  @include font(50px, 55px)
  font-weight: bold
  color: $black-100
  margin: 0

h2
  @include font(32px, 36px)
  font-weight: bold
  color: $black-100
  margin: 0

h3
  @include font(27px, 33px)
  font-weight: bold
  color: $black-100
  margin: 0

h4
  @include font(21px, 26px)
  font-weight: bold
  color: $black-100
  margin: 0

h5
  @include font(19px, 24px)
  font-weight: bold
  color: $black-100
  margin: 0

input
  font-family: 'PT Root UI', 'Arial', sans-serif
  font-style: normal
  font-weight: normal
  color: $black-100
  background: $white
  border: 1px solid $grey-60
  box-sizing: border-box
  border-radius: 4px
  padding: 8px 15px
  height: 36px

input:active,
input:focus,
input:hover,
input:focus-visible,
textarea:active,
textarea:focus,
textarea:hover,
textarea:focus-visible
  border: 1px solid $black-50
  -webkit-transition: 0.1s ease-out
  transition: 0.1s ease-out
input::-webkit-input-placeholder,
input::-moz-placeholder,
input::placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea::placeholder
  color: $gray-80

.btn-arrow
  display: none

@media (min-width: 640px)
  .container
    min-height: calc(100vh - 90px)
  input
    height: 50px
    @include font(19px, 30px)

  .btn-arrow
    display: block
    height: 332px
    width: 97px
    position: absolute
    z-index: 2
    bottom: 0px
  .btn-arrow-left
    left: 0
  .btn-arrow-right
    right: 0

  .btn-arrow > button
    display: block
    height: 100%
    background: none
    border: none
    width: 100%
    position: relative
    &::after
      content: ""
      position: absolute
      border-top: 2px solid #17171C
      border-right: 2px solid #17171C
      width: 30px
      height: 30px
      bottom: 50%
      display: none

    &:hover
      cursor: pointer
      &::after
        display: block

  .btn-arrow > button.arrow-right::after
    transform: rotate(45deg)
    right: 16px
  .btn-arrow > button.arrow-left::after
    transform: rotate(-135deg)
    left: 16px

  .btn-arrow > button.arrow-left
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03551) 13.33%, rgba(255, 255, 255, 0.147411) 26.67%, rgba(255, 255, 255, 0.231775) 33.33%, rgba(255, 255, 255, 0.331884) 40%, rgba(255, 255, 255, 0.442691) 46.67%, rgba(255, 255, 255, 0.557309) 53.33%, rgba(255, 255, 255, 0.668116) 60%, rgba(255, 255, 255, 0.768225) 66.67%, rgba(255, 255, 255, 0.852589) 73.33%, rgba(255, 255, 255,0.91834) 80%, rgba(255, 255, 255, 0.991353) 93.33%, #FFFFFF 100%)

  .btn-arrow > button.arrow-right
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03551) 13.33%, rgba(255, 255, 255, 0.147411) 26.67%, rgba(255, 255, 255, 0.231775) 33.33%, rgba(255, 255, 255, 0.331884) 40%, rgba(255, 255, 255, 0.442691) 46.67%, rgba(255, 255, 255, 0.557309) 53.33%, rgba(255, 255, 255, 0.668116) 60%, rgba(255, 255, 255, 0.768225) 66.67%, rgba(255, 255, 255, 0.852589) 73.33%, rgba(255, 255, 255,0.91834) 80%, rgba(255, 255, 255, 0.991353) 93.33%, #FFFFFF 100%)

@media (min-width: 768px)
  .container
    min-height: calc(100vh - 45px)
  h1
    @include font(70px, 65px)

  h2
    @include font(50px, 55px)


@media (min-width: 1200px)
  .container
      max-width: 1200px
      width: auto
