.search-input_wrapper
  flex-grow: 1
  margin-right: 15px
  position: relative
  align-items: center
  .search__input
    width: 100%
    padding-left: 50px
  .search-btn
    position: absolute
    top: 7px
    left: 15px
    &:hover
      cursor: pointer
  .clear-btn
    position: absolute
    top: 9px
    right: 9px
    &:hover
      cursor: pointer


.container-search
  .content-search
    .search-input_wrapper
      margin-top: 30px
      margin-bottom: 20px
      margin-right: 0
      position: relative
      .search__input
        padding-left: 15px
      .search-btn
        right: 15px
        left: auto
      .clear-btn
        right: 50px
  .search-toggle__wrapper
    background: $color-bg-block
    display: flex
    margin: 30px auto
    border-radius: 20px
    padding: 8px 15px
    width: fit-content
    width: -moz-fit-content

  .search-toggle__wrapper input[type=radio]
    display: none

  .search-toggle__wrapper label
    cursor: pointer
    padding: 5px 5px
    margin: 0 5px
    user-select: none
    color: $black-50
    display: block

  .search-toggle__wrapper input[type=radio]:checked + label
    border-bottom: 2px solid $black-100
    color: $black-100
    font-weight: 600

  .search-toggle__wrapper label:hover
    color: $black-100

  .search-non-found
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 90px
    .search-non-found_img
      width: 121px
      height: auto
      margin-bottom: 24px
    .search-non-found_text
      font-weight: bold
      @include font(19px, 24px)
      color: $grey-60
      margin-bottom: 24px


@media (min-width: 640px)
  .search-input_wrapper
    padding-left: 15px
    .search__input
      padding-left: 15px
    .search-btn
      top: 13px
      right: 15px
      left: auto
      &::before
        content: ""
        position: absolute
        top: 0px
        width: 1px
        height: 24px
        right: 39px
        background-color: $grey-50

    .clear-btn
      top: 17px
      right: 70px

  .container-search
    .content-search
      .search-input_wrapper
        margin-top: 70px
        // .search-btn
        //   right:
        //   left: 15px


  // .container-search
  //   .content-search
  //     .search-input_wrapper
  //       margin-top: 30px
  //       margin-bottom: 20px
  //       margin-right: 0
  //       position: relative
  //       .search__input
  //         padding-left: 15px
  //       .search-btn
  //         right: 15px
  //         left: auto
