.content-theory
  .skills
    display: grid
    grid-template-columns: repeat(1, 1fr)
    grid-auto-rows: 1fr
    .skill
      margin: 10px 0
      border-radius: 20px
      color: $white
      padding: 30px
      border: 1px solid $grey-20
      display: flex
      flex-direction: column
      .text
        opacity: 0.8
        @include font (18px, 24px)
        margin-bottom: 15px
      h3
        margin-bottom: 5px
      img
        margin-top: auto
        width: 100%
      .amount
        display: none
      &:hover
        color: $white
        -webkit-transition: 0.4s ease-in-out
        transition: 0.4s ease-out
        .amount
          display: block
          color: $white
          -webkit-transition: 0.4s ease-in-out
          transition: 0.4s ease-out
          margin-top: auto
          .number
            @include font(70px, 55px)
        h3
          color: $white
          -webkit-transition: 0.4s ease-in-out
          transition: 0.4s ease-out
        img
          display: none
          -webkit-transition: 0.4s ease-in-out
          transition: 0.4s ease-out
        &.skill-digital
          background-color: #13B881
        &.skill-personal
          background-color: #2C28C2
        &.skill-financial
          background-color: #0F7DA1

    .skill-digital
      color: #13B881
      h3
        color: #13B881
    .skill-personal
      color: #2C28C2
      h3
        color: #2C28C2
    .skill-financial
      color: #0F7DA1
      h3
        color: #0F7DA1



@media (min-width: 640px)
  .content-theory
    .skills
      grid-template-columns: repeat(2, 1fr)
      .skill
        width: auto
        box-sizing: border-box
        margin: 10px 15px

        padding: 37px
        padding-top: 50px
        &:last-child
          margin-right: 0
        .text
          margin-bottom: 30px
        .amount
          margin-top: auto
          .number
            @include font(70px, 55px)

@media (min-width: 1200px)
  .content-theory
    .skills
      grid-template-columns: repeat(3, 1fr)
      margin-bottom: 80px
