.todo-list_wrapper
  border: $border
  border-radius: 4px
  margin-bottom: 10px
  &:last-child
    margin-bottom: 0
  .todo-list-header
    width: 100%
    border-bottom: $border
    display: flex
    padding: 20px
    box-sizing: border-box
    h5
      flex-grow: 1
    .list-amount
      @include font(19px, 24px)
      color: #007AFF
  .todo-list
    margin: 20px
    padding: 0
    .todo-el
      @include font(16px, 22px)
      list-style: none
      .el_row
        display: flex
        flex-direction: column
        margin-bottom: 15px
        &:last-child
          margin-bottom: 0
        .description
          display: flex
          flex-direction: row
          .el_task
            display: flex
            flex-direction: column
            align-items: flex-start
            margin-top: 4px
            .el_how-do_btn
              @include font(12px, 16px)
              color: #AEAEB2
              &:hover
                cursor: pointer

          .el_check
            width: 30px
            height: 30px
            border: 1px solid $black-100
            box-sizing: border-box
            border-radius: 4px
            margin: 0
            margin-right: 10px
            min-width: 30px
          .el_check-warning
            border-color: $font-color-error
        .instruction
          background-color: $grey-20
          border-radius: 4px
          box-sizing: border-box
          padding: 30px
          // position: absolute
          // top: 10%
          // left: 10px
          // width: calc(100vw - 20px)
          // right: auto

          .instruction-top
            .instruction-top_inner
              display: flex
              flex-direction: column
              justify-content: flex-start
              width: auto
              border-bottom: 1px solid #C7C7CC
              padding-bottom: 20px
              margin-bottom: 20px

              .btn
                padding-left: 40px
                padding-right: 40px
                margin-bottom: 10px
                width: 150px
              .risks
                display: flex
                flex-direction: row
                flex-wrap: wrap
                .risks-text
                  color: #8D8D94
                  @include font(12px, 16px)
                  max-width: 250px

                .risks-btn
                  background-color: $white
                  border: 1px solid $font-color-gray
                  color: $black-70
                  margin-right: 10px
          .instruction-content
            .instruction-content__header
              @include font(14px, 19px)
              font-weight: 800
              margin-bottom: 10px

            .exercises
              margin-bottom: 20px




  &.todo-done
    .todo-list
      .todo-el
        .el_row
          position: relative
          .description
            .el_check
              &::before
                content: ""
                position: absolute
                display: inline-block
                width: 2px
                height: 17px
                background-color: #007AFF
                left: 17px
                top: 6px
                transform: rotate(45deg)
              &::after
                content: ""
                position: absolute
                display: inline-block
                width: 2px
                height: 9px
                background-color: #007AFF
                left: 8px
                top: 12px
                transform: rotate(-45deg)
            .el_task
              .el_header
                text-decoration: line-through
              .el_how-do_btn
                display: none

@media (min-width: 768px)
  .todo-list_wrapper
    .todo-list
      .todo-el
        width: 100%
        .el_row
          width: 100%
          .description
            .el_task
              flex-direction: row
              align-items: baseline
              flex-grow: 1
              .el_header
                margin-right: auto
              .el_how-do_btn
                margin-left: 10px
          .instruction
            width: calc(100% - 38px)
            margin: 15px 0 15px auto
            position: relative
            .instruction-top
              .instruction-top_inner
                display: flex
                flex-direction: row
                padding-bottom: 40px
                margin-bottom: 40px
                .btn
                  margin-bottom: 0
                .risks
                  flex-wrap: nowrap
                .instruction-btn
                  margin-right: 40px
