.todo-list_wrapper
  border: $border
  border-radius: 4px
  margin-bottom: 15px
  &:last-child
    margin-bottom: 0
  .header-border-bottom
    border-bottom: $border
  .todo-list-header
    width: 100%
    display: flex
    padding: 20px
    box-sizing: border-box
    &:hover
      cursor: pointer
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1)
    &:focus,
    &:active
      box-shadow: none
    a:hover
      box-shadow: none
    h5
      flex-grow: 1
    .list-amount
      @include font(19px, 24px)
      color: #007AFF
    .btn-arrow_header
      display: block
      position: relative
      margin-left: 20px
      width: 20px
      height: 20px
      &::after
        content: ""
        position: absolute
        border-top: 2px solid $black-100
        border-right: 2px solid $black-100
        width: 12px
        height: 12px
        right: 0
        top: calc(100% - 20px)
        transform: rotate(135deg)

  .todo-list
    @include font(16px, 22px)
    list-style: none
    padding: 0
    margin: 20px
    .todo-el
      margin-bottom: 15px
      position: relative
      &:last-child
        margin-bottom: 0
      .todo_el_inner
        display: flex
        flex-direction: column
        .todo_btn
          display: flex
          flex-wrap: nowrap
          margin-top: 20px
          margin-left: 40px
          margin-bottom: 30px
        .instruction-btn
          @include font(12px, 16px)
          height: auto
          padding: 4px 8px
      .marker
        display: none
      .el_task
        display: flex
        flex-direction: row
        justify-content: flex-start
        user-select: none
        position: relative
        cursor: pointer
        margin-right: 10px
      .el_task input[type=checkbox]
        position: absolute
        z-index: -1
        opacity: 0
        width: 0
        height: 0
        display: block

      .el_task:hover::before
        background-color: #F9F9FB
        border: 1px solid $black-100

      .el_task .checked_el
        content: ""
        display: inline-block
        width: 30px
        height: 30px
        border: 1px solid $black-50
        box-sizing: border-box
        border-radius: 4px
        margin: 0
        margin-right: 10px
        min-width: 30px
        svg
          fill: transparent
          position: absolute
          top: 7px
          left: 6px
          display: none

      .el_task input[type=checkbox]:checked + span
        text-decoration: line-through
        position: relative

      .el_task > svg
          display: none
      .el_task input[type=checkbox]:checked > svg
          display: block

      // .el_task input[type=checkbox]:checked + span::before
      //   content: ""
      //   position: absolute
      //   display: inline-block
      //   width: 2px
      //   height: 17px
      //   background-color: #007AFF
      //   left: 18px
      //   top: 20%
      //   transform: rotate(45deg)
      //
      // .el_task input[type=checkbox]:checked + span::after
      //   content: ""
      //   position: absolute
      //   display: inline-block
      //   width: 2px
      //   height: 9px
      //   background-color: #007AFF
      //   left: 10px
      //   top: 25%
      //   transform: rotate(-45deg)
      .el_task input[type=checkbox] + span
        svg
          display: none
          fill: transparent
          left: -35px
          top: 7px
          position: absolute

      .el_task input[type=checkbox]:checked + span
        svg
          display: block

      .el_how-do_btn
        margin-left: 40px
        @include font(12px, 16px)
        color: $gray-80
        display: flex
        align-items: center
        white-space: nowrap
        .btn-arrow_todo
          display: block
          position: relative
          margin-left: 15px
          width: 8px
          &::after
            content: ""
            position: absolute
            border-top: 1px solid $grey-60
            border-right: 1px solid $grey-60
            width: 7px
            height: 7px
            right: 0
            top: calc(100% - 4px)
            transform: rotate(55deg)
      .el_task-not-do
        color: $black-50
        &::before
          background-color: $grey-20
          border-color: $grey-50
      .el_how-do_btn:hover
        color: $black-100
        cursor: pointer
        .btn-arrow_todo::after
          border-color: $black-100

      .instruction
        // margin-top: 15px
        background-color: $grey-20
        border-radius: 4px
        box-sizing: border-box
        padding: 20px
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100vh
        z-index: 200
        overflow-y: auto

        .instruction-top
          .instruction_btn-close-todo
            margin-bottom: 5px
            text-align: right
            &:hover
              cursor: pointer
          h5
            @include font(20px, 25px)
            margin-bottom: 26px
          .instruction-top_inner
            display: flex
            flex-direction: column
            justify-content: flex-start
            width: auto
            border-bottom: 1px solid #C7C7CC
            padding-bottom: 38px
            margin-bottom: 40px
            .btn
              padding: 8px 33px
              margin-bottom: 16px
              // line-height: 19px
              height: auto
              @include font(12px, 19px)
            .risks
              display: flex
              flex-direction: row
              flex-wrap: wrap
              align-items: center
              .risks-text
                color: #8D8D94
                @include font(12px, 16px)
                width: 100%

              .risks-btn
                background-color: $white
                border: 1px solid $font-color-gray
                color: $black-70
                width: 100%
                margin-bottom: 11px
                &:hover,
                &:focus
                  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.1)
                  -webkit-transition: 0.1s ease-out
                  transition: 0.1s ease-out
                  background-color: $white
                  color: $black-70
        .instruction-content
          .instruction-content__header
            @include font(14px, 19px)
            font-weight: 800
            margin-bottom: 10px

          .exercises
            margin-bottom: 0

            .materials-course
              .material
                margin-top: 10px
                .material-list
                  margin-top: 0
              .material-el
                background-color: $white

.todo-list_course > .todo-list_wrapper > .todo-list-header > .btn-arrow_header::after
  transform: rotate(45deg)
  top: calc(100% - 10px)
.content-my-course .todo-list_course .todo-list_wrapper .todo-list-header .list-amount
  @include font(32px, 36px)
  color: $grey-20
.content-my-course .todo-list_course .todo-list_wrapper .todo-list-header h5
  align-self: center
.content-my-course .todo-list_course .todo-list_wrapper .todo-list-header
  position: relative

.empty-todo_list
  padding: 20px
  color: $black-50

.container-todo
  .content-todo
    .block_top
      display: flex
      flex-direction: column
      align-items: start
      .header
        .content-descr
          text-align: left
          margin-bottom: 40px
    .content-inner_todo
      display: flex
      flex-direction: row

    .descr-img
      width: 100%
      margin-bottom: 20px

      img
        width: 100%
        height: auto
        object-fit: contain

@media (min-width: 640px)
  .todo-list_wrapper .todo-list .todo-el .todo_el_inner .todo_btn
    margin: 0
  .empty-todo_list
    padding: 30px
    @include font(18px, 24px)

  .todo-list_wrapper
    // margin-bottom: 40px
    .todo-list-header
      padding: 25px 30px
    &:last-child
      margin-bottom: 0px

    .todo-list
      margin: 30px
      .todo-list
        list-style: circle
      .todo-el
        .todo_el_inner
          display: flex
          flex-direction: row
          align-items: center
          justify-content: space-between

        .marker
          display: block
          @include font(12px, 16px)
          color: $grey-100
          min-width: 25px
        .el_task
          align-items: center
          flex-grow: 1
        .el_task input[type=checkbox] + span
          svg
            top: 4px
        .el_how-do_btn
          .btn-arrow_todo
            &::after
              transform: rotate(135deg)
              top: calc(100% - 6px)

        .instruction
          padding: 33px 30px
          margin-left: 65px
          margin-bottom: 30px
          margin-top: 15px
          background-color: $grey-20
          border-radius: 4px
          box-sizing: border-box
          position: relative
          width: auto
          height: auto
          z-index: 0

          .instruction-top
            padding-top: 0
            .instruction-top_inner
              .btn
                margin-bottom: 0
                // @include font(18px, 28px)
            .instruction_btn-close-todo, h5
              display: none
            .instruction-top_inner
              flex-direction: row
              flex-wrap: nowrap
              padding-bottom: 40px
              margin-bottom: 40px
              .instruction-btn
                margin-right: 40px
                height: fit-content
                height: -moz-fit-content
              .risks
                .risks-text
                  @include font(12px, 16px)
                  width: auto
                  max-width: 250px
                .risks-btn
                  width: auto
                  margin-right: 10px



  .container-todo
    .content-todo
      .content-inner_todo
        width: 100%
        margin-bottom: 20px
        .block_top
          width: 50%
          padding-right: 30px
          box-sizing: content-box
          h1
            margin-bottom: 20px
        .descr-img
          width: 50%
          margin-left: auto


@media (min-width: 768px)
  .todo-list_wrapper
    .todo-list
      .todo-el
        .instruction
          .instruction-top
            .instruction-top_inner
              .risks
                .risks-btn
                  margin-bottom: 0
